[Unit]
Description=MH Runner
After=network.target

[Service]
Type=simple
ExecStart=/opt/Runner/build/simple_master 1
WorkingDirectory=/opt/Runner/build
ExecStartPre=/opt/Runner/prepare.sh
Restart=always
User=runner
Group=runner
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target
