[Unit]
Description=MH Runner
After=network.target

[Service]
Type=simple
ExecStart=/opt/Runner/build/simple_master 64
WorkingDirectory=/opt/Runner/build
ExecStartPre=/opt/Runner/prepare.sh
Restart=always
User=runner
Group=runner
PermissionsStartOnly=true

Environment="LD_LIBRARY_PATH=/lib/x86_64-linux-gnu:/usr/lib/x86_64-linux-gnu:/usr/local/lib"
InaccessibleDirectories=/etc /dev /tmp /root /home /opt/Runner/src /etc /boot /media /mnt /run /var /srv
ReadOnlyDirectories=/
ReadWriteDirectories=/sys/fs/cgroup/memory/runner /proc/self

[Install]
WantedBy=multi-user.target
