[Unit]
Description=MH Web
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/node /opt/Web/dist/index.js
WorkingDirectory=/opt/Web
Restart=always
User=web
Group=web

[Install]
WantedBy=multi-user.target
